/* #header {
    background-color: red;
} */

hr {
    width: 20%;
    margin: 0 auto;
    border: 2px solid #000;
}
.gradient-background {
    background-image: linear-gradient(300deg, rgb(0, 153, 204), rgb(158, 0, 25), rgb(130, 29, 15));
    background-color: initial;
}